numpy
scipy
scikit-learn
pandas
statsmodels
catboost
pymysql
sqlalchemy
scikit-optimize
opencv-python
torch==2.0.1
pytorch-lightning
open_clip_torch
pillow
torchvision
transformers
imutils
joblib
shap
tqdm
numba
requests
boto3
pydantic
python-json-logger
aiohttp
fastapi
s3fs
